:root {
--White: hsl(0, 0%, 100%);
--Light-gray: hsl(212, 45%, 89%);
--Grayish-blue: hsl(220, 15%, 55%);
--Dark-blue: hsl(218, 44%, 22%);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  background-color: var(--Light-gray);
  display: grid;
  place-content: center;
  padding: 1rem;
  gap: 2rem;
  min-height: 100vh;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 1.5rem;
}

.container {
  max-width: 500px;
  background-color: var(--White);
  padding: 1.5rem 2.5rem;
  border-radius: 1.5rem;
  text-align: center;
}

.container > * {
  margin-bottom: 1.25rem;
}

.title {
  color: var(--Dark-blue);
  font-weight: 700;
  font-size: 2.25rem;
}

.text {
  text-align: center;
  color: var(--Grayish-blue);
  font-size: 1.7rem;
  font-weight: 400;
  
}
@media (max-width: 575px) {

  .container {
    padding: 1rem;
  }
  .title {
    font-size: 1.4rem;
  }

  .text  {
    font-size: 1.2rem ;
  }
}